body {
    background: yellow;
}

@media screen and (min-width: 100px) {
    body {
        background: rgb(248, 3, 3);
    }
}
@media screen and (min-width: 300px) {
    body {
        background: rgb(53, 48, 3);
    }
}
@media screen and (min-width: 500px) {
    body {
        background: rgb(29, 160, 2);
    }
}
@media screen and (min-width: 700px) {
    body {
        background: rgb(253, 5, 199);
    }
}



.standardElement {
    width: 200px;
    height: 100px;
    background-color: #ff0000;
    border: 2px solid #00ff00;
    overflow-x: hidden;
    overflow-y: auto;
}

.longText {
    overflow: scroll;
}

#uniqueElement {
    /*display: none;*/
    position: absolute;
}

.parent {
    margin-top: 20px;
    background-color: #0000ff;
    display: flex;
}

.fixedElement {
    width: 200px;
    height: 100px;
    right: 300px;
    background-color: orange;
    position: fixed;
}

